$main-black : rgba(34, 34, 34, 1);
$main-white : rgba(255,255,255,0.2);

@mixin default ($width, $height){
    width: $width;
    height: $height;
}

@mixin flex ($justify, $align, $direction : row){
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    @include flex(center,center);
    @include default(100vw,100vh);
    background-color: $main-black;
}
#container{
    border-radius: 4px;
    padding: 10px;
    background-color: black;
    min-height: 425px;
    width: 334px;
    box-shadow: 0px 0px 20px 5px rgba(255,255,255,0.2);
    @include flex(flex-start,center ,column)
}
#display-container{
    @include flex(flex-start ,flex-start ,column);
    padding: 5px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid black;
    background-color: $main-white;
    width: 99%;
    min-height: 100px;
    #array{
        width: 100%;
        word-break: break-all;
        padding: 5px;
        color: white;
        font-size: 2rem;
        min-height: 50px;
        text-align: end;
    }
    #input{
        width: 100%;
        text-align: end;
        word-break: break-all;
        padding: 5px;
        font-size: 2rem;
        color : white;
        min-height : 50px;
    }
}
#button-container{
    width:99%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 4px;

}
button{
    border: none;
    border-radius: 4px;
    color : white;
}

button:hover{
    border: 1px solid aliceblue;
}

//col handler
#erase{
    background-color: rgb(172, 57, 57);
    grid-column: 3;
}
#delete{
    background-color: rgb(172, 57, 57);
    grid-column: 1/3;
    grid-row: 1;
}
#multiple{
    grid-column: 4;
}
#division{
    grid-column: 4;
    grid-row: 2;
}
#plus{
    grid-column: 4;
    grid-row: 3;
}
#minus{
    grid-column: 4;
    grid-row: 4;
}
#equal{
    grid-column: 3/-1;
    grid-row: 5;
}




.number{
    background-color: rgba(255,255,255,0.3);
}
.operator{
    background-color: grey;
}
#subtitle{
    padding-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    @include flex(center,center ,row );
    color: white;
}
#name {
    background: linear-gradient(to right, #e100ff, #0080ff);
    color: transparent;
    padding-left: 5px;
    -webkit-background-clip: text;
    background-clip: text;
}